.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiFab-primary {
  background-color: #00a19b;
}

.MuiFab-primary:hover {
  background-color: #36776f;
}

.MuiFab-secondary {
  background-color: #7b303e;
}

.MuiFab-seconday:hover {
  background-color: #50242c;
}

/* MuiButton */
.MuiButton-root {
  font-family: Tahoma;
  padding: 0 42px;
  border-radius: 8px;
  min-height: 0;
  min-width: 0;
}

.MuiButton-label {
  color: white;
  text-transform: none;
}

.MuiButton-containedPrimary {
  background-color: #00A19B;
}

.MuiButton-containedPrimary:hover {
  background-color: #36776f;
}

.MuiButton-containedSecondary {
  background-color: #7B303E;
}

.MuiButton-containedSecondary:hover {
  background-color: #50242C;
}

.MuiButton-containedSizeSmall {
  height: 38px;
  font-size: 18px;
}

.MuiButton-containedSizeLarge {
  height: 60px;
  font-size: 30px;
}

/* MuiTextField */
.MuiTextField-root {
  border: 2px solid #00A19B;
  box-sizing: border-box;
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 0px 5px;
}

/* MuiCheckbox */
.MuiCheckbox-root {
  color: #00A19B;
}

.MuiCheckbox-root.Mui-checked {
  color: #00A19B;
}

.MuiCheckbox-colorPrimary {
}

.MuiCheckbox-colorPrimary:hover {
  background-color: transparent;
  @media (hover: none) {
    background-color: transparent;
  }
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #00A19B;
}

.MuiCheckbox-colorPrimary.Mui-checked:hover {
  background-color: transparent;
  @media (hover: none) {
    background-color: transparent;
  }
}

.MuiCheckbox-colorSecondary {
  color: #7B303E;
}

.MuiCheckbox-colorSecondary:hover {
  background-color: transparent;
  @media (hover: none) {
    background-color: transparent;
  }
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #7B303E;
}

.MuiCheckbox-colorSecondary.Mui-checked:hover {
  background-color: transparent;
  @media (hover: none) {
    background-color: transparent;
  }
}

/* Admin Location List */
.Top-list {
  padding-bottom: 0;
}

.Botton-list {
  padding-bottom: 0;
}

.Custom-list-item {
  justify-content: center;
  align-items: center;
  display: flex;
}

.Delete-button {
  margin-left: 1em;
}

/* Volunteer Login Page */
.Login-area {
  margin: auto;
  width: 200px;
}

.Button-area {
  margin: 16px;
  position: relative;
}

/* Miscellaneous */
.Auto-margins {
  margin: auto;
}

.Center-text {
  text-align: center;
}