/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiFab-primary {
  background-color: #00a19b;
}

.MuiFab-primary:hover {
  background-color: #36776f;
}

.MuiFab-secondary {
  background-color: #7b303e;
}

.MuiFab-seconday:hover {
  background-color: #50242c;
}

/* MuiButton */

.MuiButton-root {
  font-family: Tahoma;
  padding: 0 42px;
  border-radius: 8px;
  min-height: 0;
  min-width: 0;
}

.MuiButton-label {
  color: white;
  text-transform: none;
}

.MuiButton-containedPrimary {
  background-color: #00A19B;
}

.MuiButton-containedPrimary:hover {
  background-color: #36776f;
}

.MuiButton-containedSecondary {
  background-color: #7B303E;
}

.MuiButton-containedSecondary:hover {
  background-color: #50242C;
}

.MuiButton-containedSizeSmall {
  height: 38px;
  font-size: 18px;
}

.MuiButton-containedSizeLarge {
  height: 60px;
  font-size: 30px;
}

/* MuiTextField */

.MuiInput-root {
  border: 2px solid #00A19B;
  box-sizing: border-box;
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 0px 5px;
}

.MuiInput-root.Mui-error {
  border: 2px solid red;
}

/* MuiCheckbox */

.MuiCheckbox-root {
  color: #00A19B;
}

.MuiCheckbox-root.Mui-checked {
  color: #00A19B;
}

.MuiCheckbox-colorPrimary {}

.MuiCheckbox-colorPrimary:hover {
  background-color: transparent;
  @media (hover: none) {
    background-color: transparent;
  }
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #00A19B;
}

.MuiCheckbox-colorPrimary.Mui-checked:hover {
  background-color: transparent;
  @media (hover: none) {
    background-color: transparent;
  }
}

.MuiCheckbox-colorSecondary {
  color: #7B303E;
}

.MuiCheckbox-colorSecondary:hover {
  background-color: transparent;
  @media (hover: none) {
    background-color: transparent;
  }
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #7B303E;
}

.MuiCheckbox-colorSecondary.Mui-checked:hover {
  background-color: transparent;
  @media (hover: none) {
    background-color: transparent;
  }
}

/* MuiRadio */

.Mui-checked {
  color: #00A19B;
}

.MuiRadio-root {
  color: #00A19B;
}

.MuiRadio-colorPrimary {
  color: #00A19B;
}

.MuiRadio-colorPrimary:hover {
  color: #36776f;
  background-color: rgba(0, 161, 156, 0.2);
}

.MuiRadio-colorPrimary.Mui-checked {
  color: #00A19B;
}

.MuiRadio-colorPrimary.Mui-checked:hover {
  color: #36776f;
  background-color: rgba(0, 161, 156, 0.2);
}

.MuiRadio-colorSecondary {
  color: #00A19B;
}

.MuiRadio-colorSecondary:hover {
  color: #36776f;
  background-color: rgba(0, 161, 156, 0.2);
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #00A19B;
}

.MuiRadio-colorSecondary.Mui-checked:hover {
  color: #36776f;
  background-color: rgba(0, 161, 156, 0.2);
}

/* Admin Location List */

.top-list {
  padding-bottom: 0;
}

.bottom-list {
  padding-bottom: 0;
}

.custom-list-item {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Volunteer Login Page */

.volunteer-login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteer-login-page-login-area {
  margin-bottom: 48px;
}

.volunteer-login-page-or-text {
  font-family: Tahoma;
  font-size: 24px;
  line-height: 29px;
}

.volunteer-login-page-button-spacer {
  margin: 48px;
}

/* Miscellaneous */

.center-text {
  text-align: center;
}

/* Header Component */

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: black;
  font-family: Tahoma;
}

.header-image {
  width: 114.18px;
  height: 128px;
  margin-top: 48px;
}

.header-main {
  margin-top: 10px;
  font-size: 32px;
  line-height: 39px;
}

.header-sub {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 29px;
}

/* Home Page */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage-button {
  margin-top: 40px;
}

.homepage-admin-login {
  margin-top: 100px;
}

.homepage a {
  color: #00a19b;
}

.homepage a:hover {
  color: #36776f;
}

/* Volunteer data */

.volunteer-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteer-data p {
  color: grey;
}

.volunteer-data-table-body {
  height: 350px;
  margin: 40px 141px 20px 141px;
  ;
}

.volunteer-data-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.volunteer-data .header-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.volunteer-data .header {
  margin-right: 10px;
}

.volunteer-data-tab {
  margin-top: 2em;
  margin-right: 0.5em;
  margin-left: 10em;
  width: 800px;
  height: 100px;
}

.volunteer-data-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.export-btn {
  margin-right: 20px;
}

.volunteer-data-bottom {
  margin: 0 141px;
}

/* TableComponent */

.table-style {
  font-family: Helvetica;
  margin: 0;
}

.root {
  width: '100%';
  overflow-x: 'auto';
}

.header-cell {
  justify-content: center;
}

.table-head {
  justify-content: center;
  text-align: center;
}

.table {
  min-width: 650;
}

/* New Volunteer Page */

.new-volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 48px;
}

.new-volunteer-button {
  margin-top: 40px;
}

.new-volunteer-form-subheading {
  text-align: left;
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #888888;
  padding-top: 48px;
}

.formRow {
  display: flex;
  flex-direction: row;
}

/* Text Field */

.table-component table, th, td {
  border: 2px solid grey;
}

/* TextField Component */

.text-input {
  text-align: left;
  padding-bottom: 65px;
}

.text-box-long {
	width: 744px;
	height: 54px;
	margin: 12px;
}

.text-box-short {
	width: 360px;
	height: 54px;
	margin: 12px;
}

.text-input-label {
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: left;
}

/* Admin Login Page */

/* TODO: Confirm */

.admin-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-login-button {
  margin-top: 40px;
}

.admin-login-volunteer-login {
  margin-top: 110px;
}

.admin-login a {
  color: #00a19b;
}

.admin-login a:hover {
  color: #36776f;
}

/* Volunteer Check In Page*/

.check-in-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-in-select-box {
  margin: auto;
  width: 360px;
}
.check-in-custom-button {
  margin: 16px;
  position: relative;
}

/* TabComponent */

.tab-component {
  color: rgba(100, 100, 100, 0.87);
  background-color: #f5f5f5;
  box-shadow: none;
  text-transform: none;
}

/* Admin Header */

.admin-header {
  display: flex;
  margin: 48px;
}

.admin-header-logo-text {
  display: flex;
  align-items: center;
}

.admin-header-logo {
  width: 114.18px;
  height: 128px;
  margin-right: 12.82px;
}

.admin-header-text {
  width: 191px;
  height: 78px;
  font-size: 32px;
  line-height: 39px;
}

.admin-header-tab-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.admin-header-tab-button {
  color: black;
  font-family: Tahoma;
  font-size: 24px;
  padding: 10px 0px;
  margin: 16px;
  border-bottom: solid 2px white;
}

.admin-header-tab-button-normal:hover {
  color: #00A19B;
  cursor: pointer;
  border-bottom: solid 2px white;
}

.admin-header-tab-button-selected {
  color: #00A19B;
  cursor: pointer;
  border-bottom: solid 2px #00A19B;
}
