/**
* Project Name
*
* @package projectname
*
*/

/* TableComponent */
.tableStyle {
	font-family: Helvetica;
	margin: 0;
}

.root {
	width: '100%';
	overflow-x: 'auto';
}

.tableCell {
	text-align: center;
}

.table {
	min-width: 650;
}

table,
th,
td {
	border: 2px solid teal;
}
